.main-container {
  padding: 30px;
  font-family: Inter, sans-serif;
  margin: auto;
}

@media (max-width: 393px) {
  .main-container {
    max-width: 100%;
  }
}

.slider {
  width: 100%;
  appearance: none;
  height: 6px;
  outline: none;
  background: linear-gradient(
    to right,
    rgb(150, 150, 207) 0%,
    rgb(150, 150, 207) var(--value),
    #ccc var(--value),
    #ccc 100%
  );
}